html{
    background-color: rgb(216, 216, 216);
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
}

#entireBlock{
    width: 1000px;
    color: rgb(71, 71, 71);
}

#libTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: rgb(32, 32, 32);
    text-align: left;
}

#enterBookText{
    padding-bottom: 15px;
    padding-left: 20px;
}

#enterInfo{
    display: flex;
    justify-content: space-around;
    margin-right: auto;
}

#inputInfo{
    padding-bottom:  30px;
    padding-left: 20px;
}

.bookInput{
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    outline: rgb(169, 250, 164);
    border: 1px solid rgb(189, 189, 189);
    box-shadow: none;
}
#readSelect{
    font-family: 'Lora', serif;
    color: rgb(71, 71, 71);
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid rgb(189, 189, 189);
    background-color: white;
    outline: blue;
}

#newBookButton{
    width: 70px;
    font-family: 'Lora', serif;
    border: none;
    opacity: 0.7;
    background-color: rgb(0, 163, 82);
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

#newBookButton:hover{
    opacity: 1;
}

#libraryHold{
    padding-top: 50px;
    padding-left: 20px;
}

#library{
    padding-top: 40px;
    width: 1000px;
    border-collapse: collapse;
    font-size: 20px;
    border-spacing: 0;
}
tr{
    border: solid;
    border-width: 0.5px 0;
    border-color: rgb(190, 190, 190);
    display: table-row;
    text-align: left;
    padding-bottom: 5em;
}
th{
    padding-bottom: 1em;
}

tr:first-child{
    border-top: none;
}

td{
    padding-bottom: 1em;
    padding-top: 1em;
}


.deleteButton{
    height: 40px;
    width: 80px;
    font-family: 'Lora', serif;
    border: none;
    opacity: 0.7;
    background-color: rgb(255, 86, 94);
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

.deleteButton:hover{
    opacity: 1;
}

.readButton{
    height: 40px;
    width: 80px;
    font-family: 'Lora', serif;
    border: none;
    opacity: 0.7;
    background-color: rgb(250, 180, 29);
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

.readButton:hover{
    opacity: 1;
}