html{
    background-color: rgb(248, 235, 253);
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
}

#entireBlock{
    width: 800px;
    color: rgb(71, 71, 71);
}

#libTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: rgb(32, 32, 32);
    text-align: left;

}

#enterBookText{
    padding-bottom: 15px;
    padding-left: 20px;
}

#inputInfo{
    padding-bottom:  30px;
    padding-left: 20px;
}

#enterInfo{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
}

.bookInput{
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    outline: rgb(169, 250, 164);
    border-color: rgb(190, 190, 190);
    box-shadow: none;
}
#readSelect{
    font-family: 'Lora', serif;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    outline: none;
}

#newBookButton{
    width: 70px;
    font-family: 'Lora', serif;
    border: none;
    opacity: 0.8;
    background-color: rgb(0, 255, 128);
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

#newBookButton:hover{
    opacity: 1;
}

#library{
    border-collapse: collapse;
    display: flex;
    justify-content: space-evenly;
}
tr{
    border: solid;
    border-width: 0.5px 0;
    border-color: rgb(190, 190, 190);
    display: flex;
    justify-content: space-evenly;
}
tr:first-child{
    border-top: none;
}
tr:last-child{
    border-bottom: none;
}